.mt-step-item {
	.dutyListSteps {
		padding: 10rpx 20rpx;
		.organName {
			font-size: 28rpx;
			line-height: 80rpx;
			font-weight: 500;
			color: #F4787E;
		
			image {
				width: 30rpx;
				height: 30rpx;
				display: inline-block;
				vertical-align: -4px;
				margin-right: 8rpx;
			}
		}
		
		.organDetail {
			display: flex;
			justify-content: space-between;
			padding: 0 20rpx 0 8rpx;
			&_item {
				font-size: 30rpx;
				line-height: 70rpx;
				color: #2194F2;
				letter-spacing: 2rpx;
				font-weight: 500;
				.item_field {
					font-size: 26rpx;
					line-height: 30rpx;
					color: #424242;
					font-weight: 400;
				}
			}
		}
	}
}