/**
 * author: 卢美琴
 * time: 2022-03-16
 */
$themecolor: #3490fc;
$linecolor: #eee;
$pagebg: #f7f7f7;
$warncolor: #ff6f71;
$warntxt: #ffb6a6;

//region @media
/**
	* 计算适配比
	* @param {Number} $px 尺寸（不加单位）
*/
@function pxtovw($px) {
  @return calc(#{$px} / 375 * 100vw);
}

@mixin vw($px, $key: font-size) {
  @media only screen and (max-width: 600px) {
    #{$key}: pxtovw($px);
  }
  @media only screen and (min-width: 601px) {
    #{$key}: $px+px;
  }
}

/**
	* 字体全家桶
	* @param {String} $size 字体大小（不加单位）
	* @param {String} $lineHeight 行高（不加单位）
	* @param {String} $weight 字体粗细（默认为normal）
	* @param {String} $style 字体风格（默认为normal）
	* @param {String} $family 字体类型（默认为Sans-serif）
*/
@mixin font-set($size: 15,$lineHeight: 15, $weight: normal, $style: normal, $family: Sans-serif) {
  font: {
    weight: $weight;
    style: $style;
    family: $family;
  }
  @include vw($size);
  @include vw($lineHeight, 'line-height');
}

@mixin font-color($type: title) {
  @if $type == "title" {
    color: #252525;
  } @else if $type == "subtitle" {
    color: #737373;
  } @else if $type == "paragraph" {
    color: #b2b2b2;
  } @else {
    color: #252525;
  }
}

@mixin setThemeColor($key: color) {
  #{$key}: $themecolor;
}


/**
	* 一行多列
	* @param {Number} $column 列数
	* @param {String} $distance 列之间的距离（不加单位，默认为0）
*/
@mixin column($column: 4, $distance: 0) {
  @if $distance != 0 {
    width: calc((100% - #{$distance}) / #{$column});
    margin-right: calc(#{$distance} / (#{$column} - 1)) + vw;
  } @else {
    width: calc(100% / #{$column});
  }
}

/**
	* @description 等宽等高
	* @param {String} $size 宽度高度
*/
@mixin square-size($size: 50) {
  @include vw($size, 'width');
  @include vw($size, 'height');
}

//endregion @media


//region reset-css
html, body, view, text, textarea, input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: $pagebg;
  user-select: text;
  font-family: Microsoft Yahei, Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, sans-serif;
  @include vw(16);
}

//endregion reset-css

%flex-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** 单行省略 */
.ell-1 {
	/* #ifndef APP-NVUE */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/* 限制在一个块元素显示的文本的行数 */
	-webkit-line-clamp: 1;
	/* 垂直排列 */
	-webkit-box-orient: vertical;
	-webkit-box-align: start;
	/* 内容自动换行 */
	word-break: break-all;
	/* #endif */

	/* #ifdef APP-NVUE */
	lines: 1;
	/* #endif */
}
.ell-2 {
	/* #ifndef APP-NVUE */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-webkit-box-align: start;
	word-break: break-all;
	/* #endif */

	/* #ifdef APP-NVUE */
	lines: 2;
	/* #endif */
}

/** 图片默认尺寸 */
%img-default-size {
  width: 100%;
  height: 100%;
  display: block;
}
