// 重置样式 + 公共样式
@import "./common/index.scss";

.mt-button {
  width: 100%;
  @extend %flex-center;
  border: none;

  &:after, &:before {
	  display: none;
  }

  &[disabled] {
    color: rgba(0, 0, 0, .3) !important;
    background-color: #f7f7f7 !important;
  }

  &--default {
    color: #fff;
    border: none !important;
  }

  &--hollow {
    background: #fff;
  }
}
