.mt-box {
  width: 100%;
  position: relative;

  &-main {
    width: 100%;
    @include vw(16);
    color: #333;
  }

  &--center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }


  &--flip {
    transform: rotate(180deg);
  }

  &--border::before, &--border::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleY(0.5);
  }

  &--border::before {
    top: 0;
  }

  &--border::after {
    bottom: 0;
  }
}
