// 重置样式 + 公共样式
@import "./common/index.scss";

::v-deep uni-checkbox .uni-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

::v-deep uni-checkbox .uni-checkbox-input {
  width: 26rpx;
  height: 26rpx;
}


// 标签style
.badgeItem {
  margin: 6rpx 14rpx 6rpx 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mt-card {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  font-size: 32rpx;
  flex-direction: column;
  position: relative;
  padding: 0 30rpx;
  margin-bottom: 16rpx;
  background: #fff;

  &-item {
    display: flex;
    font-size: 32rpx;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    .itemBox {
      width: 100%;
      padding: 24rpx 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;

      .leftBox {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        margin-right: 20rpx;

        &-check {
		  margin: 10rpx 10rpx 0 0;
        }

        .left_thumb {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .left_thumb_tag {
            position: absolute;
            z-index: 10;
            height: 80rpx;
            width: 80rpx;
            left: -2rpx;
            top: -2rpx;

            &-sm {
              position: absolute;
              z-index: 10;
              height: 40rpx;
              width: 40rpx;
              left: 10rpx;
              top: 10rpx;
            }
          }

          .left_thumb_img {
            display: block;
            height: 52rpx;
            width: 52rpx;
            border-radius: 12rpx;
			margin-top: 10rpx;

            &-circle {
              border-radius: 50%;
            }

            &-lg {
              height: 140rpx;
              width: 140rpx;
            }

            &-md {
              height: 100rpx;
              width: 100rpx;
            }

            &-sm {
              height: 60rpx;
              width: 60rpx;
            }
          }
        }

        .left_diyicon {
          position: relative;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }

      .middleBox {
        display: flex;
        flex: 1;
        color: #3b4144;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .middle_title {
          font-size: 34rpx;
          color: #3b4144;
          overflow: hidden;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          text {
            line-height: 54rpx;
			max-width: 100%;
			min-width: 400rpx;
			flex: 1;
          }
        }


        .middle_note {
          /* #ifndef APP-NVUE */
          display: flex;
          /* #endif */
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: flex-start;
          margin-top: 8rpx;
          color: #999;
          font-size: 28rpx;
          line-height: 40rpx;
          letter-spacing: 0;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;

          image {
            width: 26rpx;
            height: 26rpx;
            margin: 0 6rpx 0 0;
            vertical-align: -2px;
          }
        }

        .middle_tags {
          /* #ifndef APP-NVUE */
          display: flex;
          /* #endif */
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          margin: 14rpx 0 0 0;
        }

        &-center {
          justify-content: center;
        }
      }

      .rightBox {
        height: 100%;
        /* #ifndef APP-NVUE */
        display: flex;
        /* #endif */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;

        text {
          color: #999;
          font-size: 24rpx;
          margin: 0 10rpx;
        }

        .tag {
          align-self: flex-end;
        }

        .initial {
          /* #ifndef APP-NVUE */
          justify-content: initial;
          /* #endif */
        }
      }

      &--right {
        padding-right: 0;
      }

      &--column {
        flex-direction: column;
        align-items: initial;
      }
    }

    .itemArrow {
      /* #ifndef APP-NVUE */
      display: flex;
      /* #endif */
      align-items: center;
	  padding-left: 10rpx;
	  color: #bbb;
	  font-size: 36rpx;
    }
  }

  &-badge {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 14rpx;
  }

  &-button {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &-more {
      justify-content: flex-end;
	  padding: 20rpx 0;

      &-btn {
        /* #ifndef APP-NVUE */
        display: flex;
        /* #endif */
        width: 180rpx!important;
		margin-left: 30rpx;
      }
    }

    &-one {
      justify-content: center;
	  padding: 20rpx 0;

      &-btn {
        width: 100%;
        /* #ifndef APP-NVUE */
        display: flex;
        /* #endif */
      }
    }
  }

  &-button:before {
    content: "";
    width: 100%;
    display: block;
    height: 2rpx;
    background-color: #eeeeee;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleY(.8);
  }

  &--disabled {
    opacity: 0.3;
  }

  &--hover {
    background-color: #f1f1f1;
  }
}
