// 重置样式 + 公共样式
@import "./common/index.scss";
@import "./mt-form-item/index.scss";

.mtForm {
	text.delete {
		font-size: 52rpx !important;
		margin-right: 30rpx;
		color: #ff5b55;
	}

	&-main {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		>view {
			flex: 1;
		}
	}

	&-formDivide {
		width: 750rpx;
		height: 20rpx;
		background: #f7f7f7;
		margin-left: -30rpx;
	}

	&-formTitle {
		width: 100%;
		font-weight: 600;
		padding: 10rpx;
		box-sizing: border-box;
	}
}
