.mt-grid {
  width: 100%;
  @extend %flex-start;

  &-title {
    background-color: #FFFFFF;
    width: 100%;
    @include vw(8, border-radius);
    @include vw(15, margin-bottom);
    overflow: hidden;
    box-shadow: 0 pxtovw(2) pxtovw(12) 0 rgba(0, 0, 0, .1);

    &-text {
      width: 100%;
      @include vw(43, height);
      padding: 0 pxtovw(10);
      border-bottom: 1px solid #F4F5F8;
      @extend %flex-start;

      &-name {
        @include vw(15, font-size);
        @include vw(43, line-height);
        color: #000;
        font-weight: 500;
        padding: 0 pxtovw(3);
        position: relative;
      }

      &-name:before {
        content: '';
        width: 100%;
        @include vw(3, height);
        position: absolute;
        left: 0;
        bottom: 0;
        background: $themecolor;
      }
    }


    &-box {
      width: 100%;
      @extend %flex-start;
    }
  }

  &-icon {
	padding-bottom: pxtovw(15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-img {
      @include square-size(50);
      margin: 0 auto;
      position: relative;
    }

    &-text {
      color: #424242;
      @include vw(12, font-size);
      text-align: center;
      // padding: pxtovw(8) pxtovw(8) 0 pxtovw(8);
    }
  }

  .icon-2 {
    @include column(2, 18px);
    padding: pxtovw(15) 0;
    box-shadow: 0 0 pxtovw(4) #e1e5e9;
    @include vw(10, border-radius);
    @include vw(18, margin-bottom);

    .mt-grid-icon-img {
      @include square-size(60);
    }
  }

  .icon-2:nth-child(2n) {
    margin-right: 0;
  }

  .icon-3 {
    @include column(3);

    .mt-grid-icon-img {
      @include square-size(65);
    }
  }

  .icon-4 {
    @include column(4);
  }

  .icon-5 {
    @include column(5);

    .mt-grid-icon-img {
      @include square-size(45);
    }
  }
}
