.pagination {
  height: 56rpx;
  line-height: 56rpx;
  display: flex;
  align-items: center;
  &_btn {
    width: 126rpx;
    height: 56rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28rpx;
    color: #fff;
  }
  .disabled {
    opacity: 0.5
  }
  .itemBox {
    height: 56rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      width: 46rpx;
      height: 46rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26rpx;
      margin-right: 20rpx;
    }
    .item:nth-last-child(1) {
      margin-right: 0;
    }
  }
  .plSize {
    padding-left: 26rpx;
  }
  .prSize {
    padding-right: 26rpx;
  }
  .ell {
    width: 70rpx;
    text-align: center;
    margin-top: -9px;
  }

  .simpleMode {
    width: 280rpx;
    text-align: center;
    color: #646566;
    letter-spacing: 2rpx;
  }
}
