.mt-toast {
  pointer-events: none;
  @include vw(14, font-size);
  @include vw(8, border-radius);
  @include vw(25, line-height);
  color: #fff;
  padding: pxtovw(6) pxtovw(15);
  background-color: rgba(0, 0, 0, .6);
  display: inline-block;
  position: fixed;
  z-index: 99999999;

  animation-name: fadeInAndFadeOut;
  animation-duration: .5s;
  animation-fill-mode: forwards;

  &-top {
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-bottom {
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes fadeInAndFadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
