// 重置样式 + 公共样式
@import "./common/index.scss";

.mt-tabs {
	width: 100%;
	color: #252525;
	display: flex;
	position: relative;
	z-index: 10;

	&-box {
		width: 100%;
		height: 100%;
		overflow-y: hidden;

		.scrollBox {
			width: 100%;
			white-space: nowrap;

			&-main {
				height: 100%;
				display: flex;
				justify-content: flex-start;

				.scroll-item {
					position: relative;
					height: 100%;
					padding: 0 30rpx;
					font-weight: 400;
					transition: all .2s;

					.underline {
						width: 60%;
						transition: width .3s;
						border-radius: 20px;
					}

					&._active {
						.underline {
							width: 80%;
							height: 8rpx;
							position: absolute;
							left: 50%;
							bottom: 0;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}

	.base-tab {
		width: 100%;
		height: 100%;

		&-box {
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;

			.base-tab-item {
				flex: 1;
				position: relative;
				height: 100%;
				text-align: center;
				padding: 0 30rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				transition: all .2s;

				.underline {
					width: 50%;
					transition: width .3s;
					border-radius: 20px;
				}

				&._active {
					.underline {
						width:68%;
						height: 6rpx;
						position: absolute;
						left: 50%;
						bottom: 0;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
}
