$pagebg: #f4f5f8;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: $pagebg;
  user-select: text;
  font-family: Microsoft Yahei, Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, sans-serif;
  font-size: 32rpx;
}
