@import "./base.scss"; // 变量 + 方法 + 字体图标
@import "./item.scss"; // item各部件样式方法

// 必填星号*样式
.isvalidate::before {
	content: '*';
	display: block;
	font-size: 28rpx;
	color: $_warn-color;
	vertical-align: middle;
	margin-right: 6rpx;
}
// 显示详情
.isonlyshow {
	width: 130rpx !important;
	color: #C0C4CC !important;
}
// 填写有误提示线
.error::after {
	background: $_warn-color!important;
	transform: scaleY(.8)!important;
}
// value值置灰样式
.isdetailshow {
	color: #A7A7A7!important;
}
// 整行样式
.colStyle {
	display: block!important;
	height: auto!important;

	.item-textarea-key,.item-box-key {
		width: 100%!important;
		height: $_formHeight!important;
	}
	.item-box-key::after {
		content: ":";
		display: block;
		margin-left: 8rpx;
	}
	.item-box-value {
		height: $_formHeight!important;
		input {
			padding-left: 0!important;
		}
	}


	.item-picker-value-group {
		justify-content: flex-start!important;

		&-item {
			margin-left: 0!important;
			margin-right: 100rpx!important;
		}
	}

	.item-textarea-value{
		width: 100%!important;

		textarea {
			padding: 0 0 35px 0!important;
		}
	}
}
// textarea 无显示字数控件样式修正
.nocount {
	height: 230rpx !important;

	textarea {
		padding: 28rpx 0 20rpx 20rpx !important;
	}
}
// item-box
.item-box::after,.item-textarea::after,.item-file::after {
	@include setLine;
}

.item-box {
	@include itemStyle;

	&-icon {
		@include iconStyle;

		image {
			@include imgStyle;
		}
	}

	&-key {
		@include keyStyle;
	}

	&-value {
		@include valueStyle;

		input {
			@include inputStyle;
		}

		&-count {
			@include countStyle;
		}

		&-image {
			@include rightIconStyle;

			i {
				@include aliIconStyle;
			}

			i.icon-dingwei {
				@include aliIconStyle;
				font-size: 48rpx;
			}
		}
	}
}
.item-code {
	&-value {
		@include valueStyle;
		display: flex;
		justify-content: space-between;
		align-items: center;

		input {
			@include inputStyle;
			flex: 1;
		}

		&-button {
			color: #fff;
			border-radius: 6rpx;
			width: 210rpx;
			font-size: 26rpx;
			height: 90rpx;
			text-align: center;
			line-height: 78rpx;
			z-index: 98;
		}
	}
}
.item-picker {
	&-value {
		&-group {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 20rpx;

			&-item {
				color: #6d6d6d;
				margin-left: 60rpx;

				.radiotext {
					margin-left: 10rpx;
					vertical-align: -1px;
				}
			}
		}
	}
}
.item-textarea {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: $_item-bottom;
	position: relative;

	&-icon {
		@include iconStyle;

		image {
			@include imgStyle;
		}
	}

	&-key {
		width: $_key-width;
		height: $_formHeight;
		line-height: $_formHeight;
		display: flex;
		font-size: $_key-size;
	}

	&-value {
		flex: 1;
		height: 360rpx;
		font-size: $_value-size;
		line-height: 40rpx;
		color: $_value-color;
		position: relative;

		textarea {
			@include inputStyle;
			padding: 28rpx 0 70rpx 20rpx;
		}

		&-count {
			@include countStyle;
			position: absolute;
			right: 8rpx;
			bottom: -12rpx;
		}
	}
}
.item-file {
	width: 100%;
	position: relative;

	&-key {
		width: 100%;
		height: 100%;
		font-size: 30rpx;
		padding: 30rpx 0 16rpx 0;
		display: flex;
		align-items: center;
		color: #424242;
	}

	&-edit {
		width: 100%;

		&-tips {
			font-size: 26rpx;
			color: $_warn-color;
		}

		&-box {
			@include flex-start;
			border-bottom: 1px dotted $_line-color;
			padding: 36rpx 0;

			&-item {
				width: calc(100% / 3);
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;


				&-icon {
					@include imgStyle(120rpx, 120rpx);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;

					&-title {
						width: 100%;
						color: #fff;
						font-size: 24rpx;
						text-align: center;
						margin-top: -30rpx;
					}

					i {
						font-size: 30px;
						color: #fff;
					}
				}

				&-camera {
					background: linear-gradient(#F57F75, #F15153);
				}

				&-album {
					background: linear-gradient(#88C3F6, #5E84F5);
				}

				&-video {
					background: linear-gradient(#F6CD64, #F67131);
				}

				&-pic {
					background: linear-gradient(#88C3F6, #5E84F5);
				}

				&-audio {
					background: linear-gradient(#F57F75, #F15153);
				}

			}

		}

		&-choosed {
			padding: 40rpx 0 20rpx 0;
			@include flex-start;

			&-item {
				position: relative;
				padding: 12rpx;
				@include imgBoxStyle;
				margin-bottom: 40rpx;

				i {
					position: absolute;
					top: -20rpx;
					right: -20rpx;
					z-index: 10;
					color: $_warn-color;
					font-size: 54rpx;
				}

				image {
					@include imgStyle(100%, 100%);
					border-radius: 8rpx;
				}
			}

			&-uploader {
				@include noneImgStyle;
				margin-bottom: 40rpx;
				font-size: 32rpx;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border: 1px dashed #d1d1d1;

				i {
					margin-bottom: 8rpx!important;
					color: #737373;
					font-size: 72rpx;
					font-weight: 300;
				}
			}
		}
	}

	&-detail {
		&-show {
			@include flex-start;

			&-item {
				padding: 12rpx;
				position: relative;
				@include imgBoxStyle;

				image {
					@include imgStyle(100%, 100%);
					border-radius: 8rpx;
				}
			}
		}

		&-none {
			@include noneImgStyle;
		}
	}
}

.select-box {
	width: 100%;
	background: #fff;
	overflow: hidden;

	picker-view {
		height: 100%;
	}

	&-header {
		@include pickerBoxHeaderStyle;

		&-btn {
			@include pickerBoxHeaderBtnStyle;
		}
		&-title {
			@include pickerBoxHeaderTitleStyle;
		}
		&-submit {
			@include pickerBoxHeaderSubmitBtnStyle;
		}
	}

	&-body {
		@include pickerBoxBodyStyle;

		&-columnItem {
			@include pickerBoxBodyColumnStyle;
		}
		// 多选控件样式
		scroll-view {
			width: 100%;
			height: 100%;

			.scroll-view-item.selected {
				view {
					color: $_themecolor !important;
				}
			}

			.scroll-view-item {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				border-bottom: 1px solid #f0f0f0;
				padding: 20rpx;

				i {
					color: $_themecolor;
					font-size: 40rpx;
					margin-right: 20rpx;
				}

				.icon-xuanzeweixuanze {
					color: $_value-color;
				}

				.brief {
					flex: 1;
					font-size: 30rpx;
					color: $_value-color;
				}
			}
		}
		// 联动面板模式
		&-tabBox {
			height: 100rpx;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			margin: 0 20rpx;
		}
		&-valueList {
			position: relative;
			bottom: 0;
			left: 0;
			margin: 20rpx;
			height: 408rpx;
			background-color: #fff;

			scroll-view {
				height: 408rpx;
				overflow-y: scroll;
			}

			.item {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;

				width: 710rpx;
				font-size: 30rpx;
				color: #252525;
				line-height: 80rpx;
				margin: 0 0 10rpx 0;
				padding: 0 20rpx;
				border-radius: 8rpx;

			}

			.multiItem {
				background-color: #f5f5f5;
			}

			.multiItem-active {
				background-color: $_themecolor;
				color: #ffffff;
			}
		}
		// list
		.simple-form-list-main {
			width: 100%;
			height: 100%;
			padding: 4rpx 0 4rpx 28rpx;

			scroll-view {
				width: 100%;
				height: 100%;

				.scroll-view-item {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #f0f0f0;
					padding: 12rpx 20rpx 12rpx 0;

					.briefBox {
						width: 88%;
						@include flex-start;
						align-items: center;

						.icon-position {
							font-size: 40rpx;
							margin-right: 20rpx;
						}

						.brief {
							flex: 1;
							display: flex;
							flex-direction: column;

							>view {
								font-weight: 500;
								font-size: 30rpx;
								color: $_value-color;
								margin-bottom: 4rpx;
							}

							text {
								display: inline-block;
								font-size: 26rpx;
								line-height: 38rpx;
								color: $_key-color;
							}
						}
					}

					.chosed {
						width: 8%;
						text-align: left;

						.icon-xuanzhong {
							font-size: 44rpx;
							color: $_themecolor;
						}
					}
				}
				.scroll-view-item.selected {
					color: $_themecolor !important;

					view,
					i,
					text {
						color: $_themecolor !important;
					}
				}


				.isBottom {
					height: 60rpx;
					margin-top: 16rpx;
					display: flex;
					justify-content: center;
					color: $_key-color;
					position: relative;
					font-size: 24rpx;

					&::after {
						content: '';
						position: absolute;
						bottom: 10rpx;
						width: 60rpx;
						height: 4rpx;
						left: 50%;
						transform: translateX(-51%);
						background: #777;
					}
				}
			}
		}
		.simple-form-list-empty {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $_key-color;
			font-size: 24rpx;

			image {
				width: 200rpx;
				margin-bottom: 32rpx;
			}
		}
	}
}
