// 整个项
@mixin itemStyle {
	width: 100%;
	height: $_formHeight;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $_item-bottom;
	position: relative;
}
// icon
@mixin iconStyle {
	height: $_formHeight;
	display: flex;
	align-items: center;
	padding-right: 10rpx;
}
// countText
@mixin countStyle {
	font-size: $_value-count-size;
	color: $_value-count-color;
	line-height: $_formHeight;
}
// 右边图标
@mixin rightIconStyle {
	height: $_formHeight;
	display: flex;
	align-items: center;
}
// key样式
@mixin keyStyle {
	width: $_key-width;
	height: 100%;
	font-size: $_key-size;
	display: flex;
	align-items: center;
}
// value样式
@mixin valueStyle {
	flex: 1;
	height: $_formHeight;
	font-size: $_value-size;
	color: $_value-color;
	display: flex;
}
// value中input样式
@mixin inputStyle {
	width: 100%;
	height: 100%;
	padding: 0 20rpx;
	font-size: $_value-size;
}

//date + multiSelector
// 蒙版样式
@mixin maskStyle {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: $transition;
	visibility: hidden;
}
// 选择盒子的样式
@mixin pickerBoxStyle {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	width: 100%;
	transition: $transition;
	transform: translateY(100%);
}
// 选择盒子的头部样式
@mixin pickerBoxHeaderStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16rpx;
	background-color: darken(#fff, 2%);
	background-color: #fff;
	position: relative;
}
// 选择盒子的头部按钮样式
@mixin pickerBoxHeaderBtnStyle {
	position: relative;
	display: inline-block;
	padding: 2rpx 30rpx;
	text-align: center;
	text-decoration: none;
	line-height: 2;
	-webkit-tap-highlight-color: transparent;
	overflow: hidden;
	background-color: #eee;
	font-size: 28rpx;
	border-radius: 8rpx;
	color: #000;
	cursor: pointer;
}
// 选择盒子的头部标题样式
@mixin pickerBoxHeaderTitleStyle {
	width: 42%;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 30rpx;
	color: #333;
	font-weight: 500;
	letter-spacing: 2rpx;
	@extend .ell-1;
}
// 选择盒子的头部提交按钮样式
@mixin pickerBoxHeaderSubmitBtnStyle {
	background-color: $_themecolor;
	color: #fff;
}
// 选择内容盒子的样式
@mixin pickerBoxBodyStyle {
	width: 100%;
	height: 420rpx;
	overflow: hidden;
	background: #fff;
}
// 选择内容盒子的列样式
@mixin pickerBoxBodyColumnStyle {
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $_date-size;
	overflow: hidden;
}
// 阿里巴巴矢量图样式
@mixin aliIconStyle {
	color: $_iconcolor;
}
// 附件图片样式
@mixin imgBoxStyle($size: 174rpx) {
	width: $size;
	height: $size;
	margin: 0 calc((100% - 522rpx) / 6) 20rpx calc((100% - 522rpx) / 6);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10rpx;
	border: 1px dashed $_line-color;
}
// 附件无图片样式
@mixin noneImgStyle {
	color: $_key-color;
	background: #fff;
	@include imgBoxStyle;
}
